@keyframes shine-text {
  from {
    color: #0066FF;
    font-size: 1em; }
  to {
    color: #FF3333;
    font-size: 2em; } }

@keyframes btn-hover-animation {
  to {
    background-color: blue; } }

@keyframes hamburger-animation {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

@keyframes drawer-box-animation {
  from {
    opacity: 0;
    transform: translateX(10px);
    width: 90%; }
  50% {
    opacity: 1;
    width: 100%;
    transform: translateX(0); }
  to {
    opacity: 0;
    width: 90%;
    transform: translateX(10px); } }

@keyframes text-animation {
  from {
    font-size: 0.5em; }
  40% {
    font-size: 1.4em; }
  to {
    font-size: 2em; } }

@keyframes text-color-animation {
  from {
    color: #ff2c2d; }
  to {
    color: #1b91ff; } }

@keyframes running-box-animation {
  from {
    left: 0; }
  to {
    left: calc(100% - 200px); } }

.reveal pre code {
  max-height: unset; }

.thin {
  font-weight: 100; }

section .tiny-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  margin-bottom: 1rem; }

section .shine-text {
  height: 2.5em;
  animation-name: shine-text;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

section .example-panel {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  min-height: calc(100vh - 700px);
  flex-direction: row;
  background-color: #3F3F3F;
  border-radius: 5px; }

section .example-panel-individual {
  padding: 0.5rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column; }

section .example-panel-individual.direction-row {
  flex-direction: row; }

section .example-panel-individual + .example-panel-individual {
  border-left: 10px solid #222; }

section .hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  display: flex;
  width: 10%; }
  section .hamburger.hamburger-with-animation {
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter; }

section .hamburger:hover {
  opacity: .7; }

section .hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  min-width: 60px; }

section .hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px; }

section .hamburger-inner, section .hamburger-inner:after, section .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: #000; }

section .hamburger-with-animation .hamburger-inner,
section .hamburger-with-animation .hamburger-inner:after,
section .hamburger-with-animation .hamburger-inner:before {
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform opacity; }

section .is-active.hamburger-with-infinite .hamburger-inner {
  animation-name: hamburger-animation;
  animation-duration: .3s;
  animation-iteration-count: infinite; }

section .hamburger-inner:after,
section .hamburger-inner:before {
  display: block;
  content: ""; }

section .hamburger-inner:before {
  top: -10px; }

section .hamburger-inner:after {
  bottom: -10px; }

section .hamburger .hamburger-inner, section .hamburger .hamburger-inner:after,
section .hamburger .hamburger-inner:before {
  background-color: #fff; }

section .is-active .hamburger-inner {
  transform: translate3d(0, 0, 0) rotate(45deg); }

section .is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

section .is-active .hamburger-inner:after {
  transform: translate3d(0, -10px, 0) rotate(-90deg); }

section .drawer-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #525252;
  width: 0px;
  color: #525252;
  overflow: hidden; }
  section .drawer-box .drawer-box-text {
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    opacity: 0; }

section .is-active + .drawer-box {
  color: #ff2c2d;
  width: 100%; }
  section .is-active + .drawer-box .drawer-box-text {
    opacity: 1; }

section .is-active + .drawer-box.drawer-with-infinite {
  animation-name: drawer-box-animation;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

section .drawer-box.drawer-with-animation {
  transition: width 0.25s ease-in-out; }
  section .drawer-box.drawer-with-animation .drawer-box-text {
    transition: opacity 0.25s ease-in;
    transition-delay: 0.15s; }

section .popout-window.with-animation {
  transition: width .3s ease-in; }

section .popout-window {
  width: 10%;
  background-color: #cda150;
  display: flex;
  flex-grow: 1; }

section .popout-window.is-active {
  width: 100%; }

section .popout-window.with-opacity {
  opacity: 0.3; }

section .popout-window.with-opacity.is-active {
  opacity: 1; }

section .popout-window.with-opacity.with-animation {
  transition-property: width, opacity; }

section .runing-box-container {
  flex-grow: 1;
  position: relative; }

section .runing-box {
  position: absolute;
  font-size: 2rem;
  top: 5px;
  bottom: 5px;
  background-color: #cda150;
  color: white;
  left: 0;
  width: 200px;
  transition-property: left;
  transition-duration: 3s; }

section .example-panel-individual.is-active .runing-box {
  left: calc(100% - 200px); }

section .liner {
  transition-timing-function: linear; }

section .ease {
  transition-timing-function: ease; }

section .ease-in {
  transition-timing-function: ease-in; }

section .ease-out {
  transition-timing-function: ease-out; }

section .ease-in-out {
  transition-timing-function: ease-in-out; }

section .steps {
  transition-timing-function: steps(5, start); }

section .cubic-bezier {
  transition-timing-function: cubic-bezier(0, 2, 1, -2); }

section .text-animation {
  animation-name: text-animation;
  animation-duration: .3s;
  animation-iteration-count: infinite; }

section .text-animation.is-active {
  animation-play-state: paused; }

section .text-animation-none,
section .text-animation-forwards,
section .text-animation-backwards,
section .text-animation-both {
  color: white;
  animation-name: text-color-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-fill-mode: none;
  animation-delay: .5s;
  margin-bottom: 1rem; }

section .text-animation-none.is-active,
section .text-animation-forwards.is-active,
section .text-animation-backwards.is-active,
section .text-animation-both.is-active {
  animation-play-state: running; }

section .text-animation-forwards {
  animation-fill-mode: forwards; }

section .text-animation-backwards {
  animation-fill-mode: backwards; }

section .text-animation-both {
  animation-fill-mode: both; }

section .font-color-symbol,
section .font-color-symbol-red,
section .font-color-symbol-blue {
  margin-right: 2rem;
  font-size: 1rem;
  position: relative; }
  section .font-color-symbol::before,
  section .font-color-symbol-red::before,
  section .font-color-symbol-blue::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.2rem;
    width: 1rem;
    background-color: white; }

section .font-color-symbol-red::before {
  background-color: #ff2c2d; }

section .font-color-symbol-blue::before {
  background-color: #1b91ff; }

section .runing-box-animation {
  position: absolute;
  font-size: 2rem;
  top: 5px;
  bottom: 5px;
  background-color: #cda150;
  color: white;
  left: 0;
  width: 200px;
  animation-name: running-box-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear; }

section .runing-box-animation.alternate {
  animation-direction: alternate; }

section .runing-box-animation.reverse {
  animation-direction: reverse; }

@keyframes avatar-animation {
  from {
    border-radius: 0; }
  to {
    border-radius: 50%;
    overflow: hidden;
    background: white; } }

@keyframes p-animation {
  to {
    transform: translate(0, 0); } }

@keyframes session-animation {
  70% {
    transform: translateY(0); }
  80% {
    transform: translateY(-100px); }
  to {
    transform: translateY(0); } }

@keyframes author-animation {
  to {
    opacity: 1; } }

section .avatar {
  width: 190px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin: 1rem auto;
  position: relative; }
  section .avatar .p1,
  section .avatar .p2,
  section .avatar .p3,
  section .avatar .p4 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("/img/avatar.jpg");
    background-repeat: no-repeat; }
  section .avatar .p1 {
    left: 0;
    top: 0;
    background-position-x: -35px;
    background-position-y: -50px;
    transform: rotate(300deg) translate(-900px, -400px); }
  section .avatar .p2 {
    left: 100px;
    top: 0;
    background-position-x: -135px;
    background-position-y: -50px;
    transform: rotate(300deg) translate(900px, -400px); }
  section .avatar .p3 {
    left: 0;
    top: 100px;
    background-position-x: -35px;
    background-position-y: -149px;
    transform: rotate(300deg) translate(-900px, 600px); }
  section .avatar .p4 {
    left: 100px;
    top: 100px;
    background-position-x: -135px;
    background-position-y: -149px;
    transform: rotate(300deg) translate(900px, 600px); }

section .title-animation {
  transform: translateY(500px); }

section .author-animation {
  opacity: 0; }

.show .avatar .p1, .show .avatar .p2, .show .avatar .p3, .show .avatar .p4 {
  animation-name: p-animation;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards; }

.show .avatar {
  animation-name: avatar-animation;
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s; }

.show .title-animation {
  animation-name: session-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-timing-function: linear; }

.show .author-animation {
  animation-name: author-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-duration: 1.6s;
  animation-timing-function: cubic-bezier(0, 1, 1, -2); }

.height-box,
.display-box {
  position: absolute;
  background-color: #cda150;
  top: 20px;
  right: 20px;
  width: 100px; }

.display-box {
  height: 100px;
  transition: display 1s;
  display: none; }

.height-box {
  transition: height 1s;
  height: auto; }

.height-box.is-active {
  height: 100px; }

.display-box.is-active {
  display: block; }

.transform-box,
.padding-box {
  height: 100px;
  width: 100px;
  background-color: #cda150; }

.padding-box {
  margin-left: 50px;
  transition: margin-left 1s; }

.transform-box {
  transform: translateX(0);
  transition: transform 1s; }

.transform-box.is-active {
  transform: translateX(500px); }

.padding-box.is-active {
  margin-left: 500px; }

/******************************others**********************************/
section .wrapper {
  position: absolute;
  float: left;
  margin: 140px 100px;
  left: 20%; }

section .line {
  position: absolute;
  top: 0px;
  width: 2px;
  height: 8px;
  background-color: red; }

section .circle {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blue; }

section .circle-top {
  top: 0px;
  left: -3.5px; }

section .circle-bottom {
  bottom: 0px;
  left: -3.5px; }

section .dot {
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: -1.5px; }

section .line1 {
  margin-left: 0px;
  background-color: #2410CB;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) infinite; }

section .line1 > span {
  background-color: #D4141E; }

section .line1 > .dotted > .dot {
  background-color: #D4141E; }

section .line1 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) infinite; }

section .line1 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) infinite; }

section .line1 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) infinite; }

section .line1 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) infinite; }

section .line2 {
  margin-left: 35px;
  background-color: #852DF4;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite; }

section .line2 > span {
  background-color: #FC7E48; }

section .line2 > .dotted > .dot {
  background-color: #FC7E48; }

section .line2 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite; }

section .line2 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite; }

section .line2 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite; }

section .line2 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite; }

section .line3 {
  margin-left: 70px;
  background-color: #F42DF1;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite; }

section .line3 > span {
  background-color: #EDEB29; }

section .line3 > .dotted > .dot {
  background-color: #EDEB29; }

section .line3 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite; }

section .line3 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite; }

section .line3 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite; }

section .line3 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite; }

section .line4 {
  margin-left: 105px;
  background-color: #F91396;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite; }

section .line4 > span {
  background-color: #ACED29; }

section .line4 > .dotted > .dot {
  background-color: #ACED29; }

section .line4 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite; }

section .line4 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite; }

section .line4 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite; }

section .line4 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite; }

section .line5 {
  margin-left: 140px;
  background-color: #D4141E;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite; }

section .line5 > span {
  background-color: #4EF02B; }

section .line5 > .dotted > .dot {
  background-color: #4EF02B; }

section .line5 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite; }

section .line5 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite; }

section .line5 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite; }

section .line5 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite; }

section .line6 {
  margin-left: 175px;
  background-color: #FC7E48;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite; }

section .line6 > span {
  background-color: #38E790; }

section .line6 > .dotted > .dot {
  background-color: #38E790; }

section .line6 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite; }

section .line6 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite; }

section .line6 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite; }

section .line6 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite; }

section .line7 {
  margin-left: 210px;
  background-color: #EDEB29;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite; }

section .line7 > span {
  background-color: #25EACC; }

section .line7 > .dotted > .dot {
  background-color: #25EACC; }

section .line7 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite; }

section .line7 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite; }

section .line7 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite; }

section .line7 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite; }

section .line8 {
  margin-left: 245px;
  background-color: #ACED29;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite; }

section .line8 > span {
  background-color: #309CDF; }

section .line8 > .dotted > .dot {
  background-color: #309CDF; }

section .line8 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite; }

section .line8 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite; }

section .line8 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite; }

section .line8 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite; }

section .line9 {
  margin-left: 280px;
  background-color: #4EF02B;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite; }

section .line9 > span {
  background-color: #2544E7; }

section .line9 > .dotted > .dot {
  background-color: #2544E7; }

section .line9 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite; }

section .line9 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite; }

section .line9 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite; }

section .line9 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite; }

section .line10 {
  margin-left: 315px;
  background-color: #38E790;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite; }

section .line10 > span {
  background-color: #852DF4; }

section .line10 > .dotted > .dot {
  background-color: #852DF4; }

section .line10 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite; }

section .line10 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite; }

section .line10 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite; }

section .line10 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite; }

section .line11 {
  margin-left: 350px;
  background-color: #25EACC;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite; }

section .line11 > span {
  background-color: #F42DF1; }

section .line11 > .dotted > .dot {
  background-color: #F42DF1; }

section .line11 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite; }

section .line11 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite; }

section .line11 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite; }

section .line11 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite; }

@-webkit-keyframes line {
  0% {
    height: 4px;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(-65deg); }
  10% {
    height: 220px;
    top: -110px;
    left: 15px; }
  45% {
    height: 200px;
    top: -100px;
    left: 25px; }
  70% {
    height: 8px;
    top: 0px;
    left: 25px;
    -webkit-transform: rotate(0deg); }
  100% {
    height: 8px;
    top: 0px;
    left: 15px;
    -webkit-transform: rotate(0deg); } }

@-webkit-keyframes dot-top {
  0% {
    top: -30px; }
  10% {
    top: -30px; }
  45% {
    top: -25px; }
  60% {
    top: 0px; }
  100% {
    top: 0px; } }

@-webkit-keyframes dot-bottom {
  0% {
    bottom: -30px; }
  10% {
    bottom: -30px; }
  45% {
    bottom: -25px; }
  60% {
    bottom: 0px; }
  100% {
    bottom: 0px; } }

@-webkit-keyframes dot-middle-top {
  0% { }
  10% { }
  45% {
    top: 98px; }
  70% {
    top: -50px; }
  85% {
    top: 0px; }
  100% {
    top: 0px; } }

@-webkit-keyframes dot-middle-bottom {
  0% { }
  10% { }
  45% {
    bottom: 98px; }
  70% {
    bottom: -50px; }
  85% {
    bottom: 0px; }
  100% {
    bottom: 0px; } }

@keyframes line {
  0% {
    height: 4px;
    top: 0px;
    left: 0px;
    transform: rotate(-65deg); }
  10% {
    height: 220px;
    top: -110px;
    left: 15px; }
  45% {
    height: 200px;
    top: -100px;
    left: 25px; }
  70% {
    height: 8px;
    top: 0px;
    left: 25px;
    transform: rotate(0deg); }
  100% {
    height: 8px;
    top: 0px;
    left: 15px;
    transform: rotate(0deg); } }

@keyframes dot-top {
  0% {
    top: -30px; }
  10% {
    top: -30px; }
  45% {
    top: -25px; }
  60% {
    top: 0px; }
  100% {
    top: 0px; } }

@keyframes dot-bottom {
  0% {
    bottom: -30px; }
  10% {
    bottom: -30px; }
  45% {
    bottom: -25px; }
  60% {
    bottom: 0px; }
  100% {
    bottom: 0px; } }

@keyframes dot-middle-top {
  0% { }
  10% { }
  45% {
    top: 78px; }
  70% {
    top: -50px; }
  85% {
    top: 0px; }
  100% {
    top: 0px; } }

@keyframes dot-middle-bottom {
  0% { }
  10% { }
  45% {
    bottom: 78px; }
  70% {
    bottom: -50px; }
  85% {
    bottom: 0px; }
  100% {
    bottom: 0px; } }
